@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
$hover-color: #81ecec;
$transition: all 0.5s;

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --size: 150px;
  --scale: 1;
  --speed: 10s;
}

main {
  font-family: 'Lilita One', cursive;
  .nav {
    background-color: #3d3d3d;
    .navLogo {
      display: flex;
      align-items: center;
      font-size: 40px;
      color: #636e72;
      transition: $transition;

      &:hover {
        .navP {
          color: $hover-color;
          transform: rotate(1turn);
        }
      }

      .navP {
        font-size: 60px;
        transition: $transition;
      }

      p {
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
      }
    }

    .navLinks {
      display: flex;
      justify-content: end;
      padding: 25px;
      transition: $transition;

      a {
        margin-right: 35px;
        text-decoration: none;
        color: #636e72;
        font-size: 25px;
        font-weight: bold;
        height: 100%;

        &:hover {
          color: $hover-color;
          transition: $transition;
        }
      }
    }
  }
  .bodyContainer {
    background-color: #4b4b4b;
    padding: 64px 0;

    .separate {
      padding: 100px 0;
    }
    .rotation {
      margin: 50px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        transform-style: preserve-3d;
        height: var(--size);
        aspect-ratio: 1;
      }

      .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @keyframes spin {
        from {
          transform: rotate3d(1, -1, 1, 0deg);
        }

        to {
          transform: rotate3d(1, -1, 1, 360deg);
        }
      }

      .content {
        animation: var(--speed) linear 0.5s infinite running spin;
        transition: transform 1s;
      }

      .core {
        position: absolute;
        width: var(--size);
        aspect-ratio: 1;
        border-radius: 50%;
        animation: var(--speed) linear 0.5s infinite running spin;
        animation-direction: reverse;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .face {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .a {
        transform: rotateY(90deg) translateZ(calc(var(--size) * var(--scale)));
      }

      .b {
        transform: translateZ(calc(var(--size) * var(--scale)));
      }

      .c {
        transform: rotateY(180deg) translateZ(calc(var(--size) * var(--scale)));
      }

      .d {
        transform: rotateY(-90deg) translateZ(calc(var(--size) * var(--scale)));
      }

      .e {
        transform: rotateX(-90deg) translateZ(calc(var(--size) * var(--scale)));
      }

      .f {
        transform: rotateX(90deg) translateZ(calc(var(--size) * var(--scale)));
      }
    }

    .headDiv {
      h1,
      h2 {
        color: white;
        font-size: 60px;
        transition: $transition;

        .letterHover {
          transition: $transition;

          &:hover {
            color: $hover-color;
          }
        }
      }

      .tagHover,
      .tagHoverBody {
        margin: 12px 0;
        color: #b2bec3;
        font-family: 'Courgette', cursive;
        margin-left: 250px;
        opacity: 0;
        transition: $transition;
      }
      .aboutTitle {
        position: relative;
      }
      .PnotesAbout::before {
        content: 'About';
        min-height: 110px;
        font-size: 400px;
        color: #766c6c;
        width: 100%;
        opacity: 0.3;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        @media (min-width: 0px) {
          font-size: 80px;
        }
        @media (min-width: 400px) {
          font-size: 110px;
        }
        @media (min-width: 750px) {
          font-size: 150px;
        }
        @media (min-width: 1000px) {
          font-size: 200px;
        }
        @media (min-width: 1300px) {
          font-size: 250px;
        }
        @media (min-width: 1600px) {
          font-size: 350px;
        }
        @media (min-width: 1800px) {
          font-size: 400px;
        }
      }
      .PnotesWork::before {
        content: 'Work';
        min-height: 110px;
        font-size: 400px;
        color: #766c6c;
        width: 100%;
        opacity: 0.3;
        position: absolute;
        top: 600%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        @media (min-width: 0px) {
          font-size: 80px;
        }
        @media (min-width: 400px) {
          font-size: 110px;
        }
        @media (min-width: 750px) {
          font-size: 150px;
        }
        @media (min-width: 1000px) {
          font-size: 200px;
        }
        @media (min-width: 1300px) {
          font-size: 250px;
        }
        @media (min-width: 1600px) {
          font-size: 350px;
        }
        @media (min-width: 1800px) {
          font-size: 400px;
        }
      }

      .PnotesAbout,
      .PnotesWork,
      .PnotesSkills,
      .PnotesContact {
        position: relative;

        color: white;
        margin-left: 40px;
        font-size: 25px;
        z-index: 5;

        a {
          text-decoration: none;
          color: white;
        }
      }
      .PnotesContact::before {
        content: 'Contact';
        min-height: 110px;
        font-size: 400px;
        color: #766c6c;
        width: 100%;
        opacity: 0.3;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        @media (min-width: 0px) {
          font-size: 80px;
        }
        @media (min-width: 400px) {
          font-size: 110px;
        }
        @media (min-width: 750px) {
          font-size: 150px;
        }
        @media (min-width: 1000px) {
          font-size: 200px;
        }
        @media (min-width: 1300px) {
          font-size: 250px;
        }
        @media (min-width: 1600px) {
          font-size: 350px;
        }
        @media (min-width: 1800px) {
          font-size: 400px;
        }
      }

      .PnotesSkills::before {
        content: 'Skills';
        min-height: 110px;
        font-size: 400px;
        color: #766c6c;
        width: 100%;
        opacity: 0.3;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        @media (min-width: 0px) {
          font-size: 80px;
        }
        @media (min-width: 400px) {
          font-size: 110px;
        }
        @media (min-width: 750px) {
          font-size: 150px;
        }
        @media (min-width: 1000px) {
          font-size: 200px;
        }
        @media (min-width: 1300px) {
          font-size: 250px;
        }
        @media (min-width: 1600px) {
          font-size: 350px;
        }
        @media (min-width: 1800px) {
          font-size: 400px;
        }
      }
      .PnotesSkills {
        position: relative;

        color: white;
        margin-left: 40px;
        font-size: 25px;
        z-index: 5;
      }
    }

    .imageSkills {
      border-radius: 20px;
    }
    .cirkle {
      padding-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      img {
        z-index: 99;
        margin: 30px;
      }
    }
  }
  .card_wrapper {
    background-color: transparent;
    z-index: 99;
    border: 1px solid #636e72;

    .projectImg {
      height: 200px;
    }

    .card_button {
      background-color: transparent;
      border: none;

      &:hover {
        color: $hover-color;
      }
    }
  }
  .separate:hover {
    .tagHover {
      margin-left: 20px;
      opacity: 1;
    }
    .tagHoverBody {
      margin-left: 10px;
      opacity: 1;
    }
    h2 {
      color: $hover-color;
      margin-left: 40px;
    }
    h1 {
      margin-left: 40px;
    }
  }
  .meImage {
    z-index: 99;
  }
  .dropDownMenu {
    margin-right: 35px;
    text-decoration: none;
    color: #636e72;
    font-size: 25px;
    font-weight: bold;

    &:hover {
      color: $hover-color;
      transition: $transition;
    }
  }
}
